* {
    font-family: Helvetica;
}
.header {
    background-image: url("pattern.jpg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.green {
    background-color: mediumspringgreen;
}
.red {
    background-color: lightcoral;
}
.blue {
    background-color: skyblue;
}
.price {
    color: blue;
}
h3 {
    font-weight: bold;
}
span {
    color: blue;
    font-weight: bold;
}
